/* Ensure global styles reset properly */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 0px;
    z-index: 100;
    top: 0;
    transition: all 0.3s;
}

.navbar .logo img {
    width: 80px;
    margin-left: 32%;
}

.navbar .hamburger-menu {
    display: none;
    cursor: pointer;
}

.navbar .hamburger-menu i {
    color: white;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links li:hover a {
    color: #bba270;
    font-weight: 700;
}

/* Overlay text styles */
.overlay-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Call to action styles */
.call-to-action {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
}

/* User icon container styles */
.user-icon-container {
    position: relative;
    margin-right: 6%;
}

.user-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-icon-wrapper:hover .user-icon {
    border-radius: 50%;
    border: 3px solid #bba270;
}

.user-icon {
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.burger-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 2000;
}

.burger-menu.show {
    display: block;
    width: 9rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.burger-menu a {
    display: block;
    color: black;
    padding: 10px 0;
    text-decoration: none;
    transition: color 0.3s;
}

.burger-menu a:hover {
    color: #bba270;
}

/* Panorama container styles */
.panorama-container {
    width: 100%;
    height: 100vh;
}

#panorama {
    width: 100%;
    height: 100%;
}

/* Search bar styles */
.search-bar {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: opacity 1s, transform 1s;
}

.search-bar.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}

.search-bar input, .search-bar button {
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    background-color: #bba270;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #a68850;
}

/* Main content styles */
.close-modal {
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.modal .container .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.modal .container .modal-content:hover {
    transform: scale(1.05);
}

.modal .container .modal-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card {
    flex: 0 0 30%; /* Adjust width of each card */
    margin: 10px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-body h4 {
    margin-bottom: 10px;
}

.card-body p {
    margin-bottom: 10px;
}

.card-body .btn {
    background-color: #bba270;
    color: white;
}

.card-body .btn:hover {
    background-color: #a68850;
}

/* Next and Previous buttons */
.next-btn, .prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}

.next-btn {
    right: 10px;
}

.prev-btn {
    left: 10px;
}

@media (max-width: 1024px) {
    .navbar .logo img {
        width: 60px;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        left: 0;
    }

    .navbar .hamburger-menu {
        display: block;
    }

    .navbar .nav-links.show {
        display: flex;
    }

    .navbar .nav-links li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .navbar .nav-links a {
        font-size: 18px;
    }

    .overlay-text {
        font-size: 1.8rem;
    }

    .call-to-action {
        font-size: 1rem;
    }

    .search-bar {
        flex-direction: column;
    }

    .search-bar input, .search-bar button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .navbar .logo img {
        width: 50px;
    }

    .overlay-text {
        font-size: 1.5rem;
    }

    .call-to-action {
        font-size: 0.9rem;
    }

    .search-bar {
        flex-direction: column;
    }

    .search-bar input, .search-bar button {
        width: 100%;
        margin-bottom: 10px;
    }

    .modal .container .modal-content {
        width: calc(100% - 20px);
    }

    .modal-content {
        width: 80%;
    }
}


/* Footer styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 68px;
/*     position:fixed; */
}

footer .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    transition: transform 0.3s, color 0.3s;
}

footer .social-icons a:hover {
    transform: scale(1.2);
    color: #bba270;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

/* Hide fullscreen toggle button in Pannellum */
.pnlm-fullscreen-toggle-button {
    display: none !important;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.close-btn:hover {
    color: white;
}

/* Update user icon styles */
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    background-image: url('path/to/default/profile.png');
    background-size: cover;
    background-position: center;
}
@media (max-width: 768px) {
    .overlay-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .call-to-action {
        display: none;
    }
}
@media (max-width: 1024px) {
    .overlay-text {
        display: none;
    }
}

@media (max-width: 1024px) {
    .call-to-action {
        display: none;
    }
}

.error{
	color: #e01b24 ; 
	font-size: 12px ;
}


